/* Banner */

.banner {
    height: 400px;
    display: flex;
}
.banner .container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 8px;
}
.banner__image {
    position: absolute;
    z-index: 0;
    width: 1200px;
    top: 0;
    left: calc(50% - 600px);
}
.banner__image img {
    object-fit: cover;
    object-position: center;
    width: 100%;
}
.banner__content {
    position: relative;
    z-index: 1;
    max-width: 500px;
    text-align: center;
}
.banner__content__content-title {
    font-size: 32px;
    word-break: break-word;
    line-height: 1.5;
}
.banner__content-cta a {
    position: relative;
    color: #2B67F5;
    font-weight: 700;
}
.banner__content-content {
    font-size: .875rem;
    margin-top: 12px;
    &::before {
        content: '';
        height: 1px;
        width: 70%;
        margin: 0 auto;
        background: #9B9EB2;
        margin-bottom: 12px;
        display: block;
    }
}
.banner__content-content p {
    font-size: 14px;
}
@media screen and (min-width: 576px){
    .banner__content-title {
        font-size: 40px;
        margin-bottom: 16px;
        word-break: normal;
    }
}