/* Buttons */

.penta-button {
    color: #383E66;
    background: #2AFC85;
    border: 1px solid transparent;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    padding: 0 38px;
    min-height: 46px;
    min-width: 180px;    
    &:hover {
        color: #383E66;     
        background: #2BEA81;
    }
}

.penta-button-secondary {
    @extend .penta-button;    
    color: #2B67F5;
    background: none;
    border: 1px solid #2B67F5;
    font-weight: 600;    
    min-width: 100px;
    &:hover {
        color: #2B67F5;
        background: #E6F4FF;
    }    
}