/* FAQ Section */

section.faq {
    padding-top: 100px;
    padding-bottom: 40px;
}

.faq h2 {
    margin-bottom: 40px;
}

.accordion .card-header:after {
    font-family: 'FontAwesome';  
    content: "\f068";
    float: right; 
    font-size: 24px;
}
.accordion .card-header.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f067"; 
}

.faq__questions {
    border: none;
}

.faq__question {    
    background: transparent;
    border-bottom: 1px solid #EBEBEF;;
}

.faq__question a {
    font-size: 24px;    
    line-height: 1.7;
}

.faq__answer {
    padding-left: 32px;
    padding-top: 14px;
    padding-bottom: 51px;
}

.faq__answer p {
    font-size: 18px;
}