/* Footer */

footer {
    padding: 50px 0 100px 0;
}

.footer-address address, .footer-logo img {
    margin-bottom: 25px;
}

.footer-logo img {
    width: 100%;
    max-width: 100px;
}

.footer-address span {
    display: block;
    font-size: 12px;
    color: #6A6E8C;
    font-weight: 700;
}

.footer-address p {
    font-size: 12px;
    margin-bottom: 0;
}

.footer-menu {    
    display: flex;
    flex-wrap: wrap;
}

.footer-menu__column {
    max-width: 20%;
    flex: 0 0 20%;
}

.footer-menu__column h6 {
    font-size: 14px;
    margin-bottom: 12px;
}

