/* General */
body {
    font-family: 'Montserrat', sans-serif;    
    color: #383E66;
    font-size: 16px;
}
h1, h2, h3, h4, h5, h6, .banner__content-title, .faq__question a {
    font-family: 'Nexa Bold', sans-serif;
    text-align: center;
}
p {
    @extend body;
    line-height: 1.7;
    margin-bottom: .5rem;
    font-weight: 500;
}