/* Hero Secttion */

.hero h1 {
    text-align: left;
}

#textAnimate {
    color: #2B67F5;
}

.hero p {
    font-size: 20px;
    line-height: 1.7;
    font-weight: 500;
    margin: 16px 0 34px 0;
    max-width: 90%;
}

.hero__bottom-primary-bttn, .hero__bottom-secondary-bttn {
    display: inline-block;
}

.hero__bottom-secondary-bttn {
    margin-left: 20px;
}

.hero__image img {
    width: 100%;
}

.hero__text-description {
    margin-top: 8px;
    color: #6A6E8C;
    line-height: 1.7;
    font-size: 14px;
}