/* Pricing Section */

section.pricing {
    padding-bottom: 100px;
}

.pricing__header h1 {
    margin: 80px 0;
}

.pricing__plan-details {
    margin-bottom: 50px;
}

.pricing__plan-details-desc p {
    font-weight: 500;
}

.pricing__plan-details-desc {
    margin-bottom: 32px;
}

.pricing__plan-details-quote {
    height: 89px;
    margin-bottom: 16px;
}

.pricing__plan-details-quote-price {
    font-weight: 600;
    font-size: 56px;
    line-height: 1.2;
}

.pricing__plan-details-quote-duration {
    font-weight: 500;
}

.pricing__plans .col-lg-4 {    
    padding: 48px 24px 40px;
    border-radius: 8px;
}

.pricing__plans .col-lg-4:hover {
    background: #F5F5F7;
}

.pricing__plans .col-lg-4:hover .pricing-button {
    @extend .penta-button;
}

.pricing__plans .col-lg-4:hover .pricing-button:hover {
    color: #fff;
    background: #009F77;
}

.pricing__plan-details-bttn-info {
    font-size: 14px;
}

.pricing-features {
    height: 841px;
}

.pricing__feature-title h6 {
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 1px solid #EBEBEF;
    margin-bottom: 24px;
    color: #6A6E8C;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 1px;
}

.pricing__feature ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.pricing__feature ul li {
    font-weight: 500;
    padding-left: 32px;
    line-height: 1.7;
    margin-bottom: 24px;
    position: relative;
    &:before {
        position: absolute;
        content: "\f00c";
        font-family: FontAwesome;
        left: 0;
        color: #2b67f5;
        top: 0;
        font-size: .875rem;
    }
}

.my-tooltip {    
    position: relative;
    width: .75rem;
    height: .75rem;
    background: rgba(56,62,102,0.5);
    border-radius: 100%;
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: .5rem;
    margin-left: .25rem;
    vertical-align: middle;
    cursor: pointer;
}

.tooltip-inner {
    background: #383E66 !important;
    color: #fff !important;
}

.arrow::before{
    border-bottom-color: #383E66 !important;
    border-top-color: #383E66 !important;
}