/* Tabs Section */

.tabs .nav-pills {
    justify-content: center;
}

.tabs__nav li a {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #CDCED9;
    text-decoration: none;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    transition: all 0.2s ease-in-out;
    position: relative;
    padding: 10px 0;
    margin: 0 16px;
    &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        border-radius: 2.5px;
        background: #CDCED9;
        left: 0;
        bottom: 0;
        transition: all 0.2s ease-in-out;
    }
}

.tabs__nav li.active a, .tabs__nav li a.active {
    color: #383E66;
}

.tabs__nav li a.active:after {
        background: #2AFC85;
}

.tab-content {
    margin-top: 40px;
}

.tabtext-image img {
    display: none;
}

.tabtext-image .active {
    display: block;
}

.tabtext-container .card {
    border: none;
}

.tabtext-container .card-header {
    border: none;
    background: #fff;
    max-height: 60px;
}

.tabtext-container h5 {
    text-align: left;
}

.tabtext-container button {
    font-family: 'Nexa Bold';
    color: #383E66;
    font-size: 24px;
    line-height: 1.7;
    padding: 0;
    &:hover {
        color: #383E66;
        text-decoration: none;
    }
}

.tabtext-container button.collapsed {
    color: #CDCED9;
}