@import "./fonts";
@import "./buttons";
@import "./general";
@import "./herosection";
@import "./bannersection";
@import "./tabssection";
@import "./pricingsection";
@import "./faqsection";
@import "./ctasection";
@import "./footer";

/* Layout */
@media (min-width: 1200px) {
    .container {
        max-width: 1230px;
    }
}

/* MENU - Navbar */
nav {
    margin-bottom: 40px;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-brand { 
    padding: 0;
}

.navbar-brand img {
    padding: 25px 0;
}

.navbar-nav li {
    padding: 8px;
}

.navbar-nav li > a.nav-link {
    color: #383E66 !important;
    padding: 15px 10px;
    font-size: 1rem;
    font-weight: 500;
}

/* Navbar dropdown hover */
.dropdown:hover>.dropdown-menu {
    display: block;
  }  
.dropdown>.dropdown-toggle:active {
/*Without this, clicking will make it sticky*/
    pointer-events: none;
}
