/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: 'Nexa Bold';
  src: url("nexa_bold-webfont.woff2") format("woff2"), url("nexa_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Buttons */
.penta-button, .penta-button-secondary, .pricing__plans .col-lg-4:hover .pricing-button {
  color: #383E66;
  background: #2AFC85;
  border: 1px solid transparent;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  padding: 0 38px;
  min-height: 46px;
  min-width: 180px;
}

.penta-button:hover, .penta-button-secondary:hover, .pricing__plans .col-lg-4:hover .pricing-button:hover {
  color: #383E66;
  background: #2BEA81;
}

.penta-button-secondary {
  color: #2B67F5;
  background: none;
  border: 1px solid #2B67F5;
  font-weight: 600;
  min-width: 100px;
}

.penta-button-secondary:hover {
  color: #2B67F5;
  background: #E6F4FF;
}

/* General */
body, p {
  font-family: 'Montserrat', sans-serif;
  color: #383E66;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6, .banner__content-title, .faq__question a {
  font-family: 'Nexa Bold', sans-serif;
  text-align: center;
}

p {
  line-height: 1.7;
  margin-bottom: .5rem;
  font-weight: 500;
}

/* Hero Secttion */
.hero h1 {
  text-align: left;
}

#textAnimate {
  color: #2B67F5;
}

.hero p {
  font-size: 20px;
  line-height: 1.7;
  font-weight: 500;
  margin: 16px 0 34px 0;
  max-width: 90%;
}

.hero__bottom-primary-bttn, .hero__bottom-secondary-bttn {
  display: inline-block;
}

.hero__bottom-secondary-bttn {
  margin-left: 20px;
}

.hero__image img {
  width: 100%;
}

.hero__text-description {
  margin-top: 8px;
  color: #6A6E8C;
  line-height: 1.7;
  font-size: 14px;
}

/* Banner */
.banner {
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner .container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  border-radius: 8px;
}

.banner__image {
  position: absolute;
  z-index: 0;
  width: 1200px;
  top: 0;
  left: calc(50% - 600px);
}

.banner__image img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
}

.banner__content {
  position: relative;
  z-index: 1;
  max-width: 500px;
  text-align: center;
}

.banner__content__content-title {
  font-size: 32px;
  word-break: break-word;
  line-height: 1.5;
}

.banner__content-cta a {
  position: relative;
  color: #2B67F5;
  font-weight: 700;
}

.banner__content-content {
  font-size: .875rem;
  margin-top: 12px;
}

.banner__content-content::before {
  content: '';
  height: 1px;
  width: 70%;
  margin: 0 auto;
  background: #9B9EB2;
  margin-bottom: 12px;
  display: block;
}

.banner__content-content p {
  font-size: 14px;
}

@media screen and (min-width: 576px) {
  .banner__content-title {
    font-size: 40px;
    margin-bottom: 16px;
    word-break: normal;
  }
}

/* Tabs Section */
.tabs .nav-pills {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tabs__nav li a {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #CDCED9;
  text-decoration: none;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: relative;
  padding: 10px 0;
  margin: 0 16px;
}

.tabs__nav li a:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 2.5px;
  background: #CDCED9;
  left: 0;
  bottom: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.tabs__nav li.active a, .tabs__nav li a.active {
  color: #383E66;
}

.tabs__nav li a.active:after {
  background: #2AFC85;
}

.tab-content {
  margin-top: 40px;
}

.tabtext-image img {
  display: none;
}

.tabtext-image .active {
  display: block;
}

.tabtext-container .card {
  border: none;
}

.tabtext-container .card-header {
  border: none;
  background: #fff;
  max-height: 60px;
}

.tabtext-container h5 {
  text-align: left;
}

.tabtext-container button {
  font-family: 'Nexa Bold';
  color: #383E66;
  font-size: 24px;
  line-height: 1.7;
  padding: 0;
}

.tabtext-container button:hover {
  color: #383E66;
  text-decoration: none;
}

.tabtext-container button.collapsed {
  color: #CDCED9;
}

/* Pricing Section */
section.pricing {
  padding-bottom: 100px;
}

.pricing__header h1 {
  margin: 80px 0;
}

.pricing__plan-details {
  margin-bottom: 50px;
}

.pricing__plan-details-desc p {
  font-weight: 500;
}

.pricing__plan-details-desc {
  margin-bottom: 32px;
}

.pricing__plan-details-quote {
  height: 89px;
  margin-bottom: 16px;
}

.pricing__plan-details-quote-price {
  font-weight: 600;
  font-size: 56px;
  line-height: 1.2;
}

.pricing__plan-details-quote-duration {
  font-weight: 500;
}

.pricing__plans .col-lg-4 {
  padding: 48px 24px 40px;
  border-radius: 8px;
}

.pricing__plans .col-lg-4:hover {
  background: #F5F5F7;
}

.pricing__plans .col-lg-4:hover .pricing-button:hover {
  color: #fff;
  background: #009F77;
}

.pricing__plan-details-bttn-info {
  font-size: 14px;
}

.pricing-features {
  height: 841px;
}

.pricing__feature-title h6 {
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 1px solid #EBEBEF;
  margin-bottom: 24px;
  color: #6A6E8C;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 1px;
}

.pricing__feature ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.pricing__feature ul li {
  font-weight: 500;
  padding-left: 32px;
  line-height: 1.7;
  margin-bottom: 24px;
  position: relative;
}

.pricing__feature ul li:before {
  position: absolute;
  content: "\f00c";
  font-family: FontAwesome;
  left: 0;
  color: #2b67f5;
  top: 0;
  font-size: .875rem;
}

.my-tooltip {
  position: relative;
  width: .75rem;
  height: .75rem;
  background: rgba(56, 62, 102, 0.5);
  border-radius: 100%;
  color: #fff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: .5rem;
  margin-left: .25rem;
  vertical-align: middle;
  cursor: pointer;
}

.tooltip-inner {
  background: #383E66 !important;
  color: #fff !important;
}

.arrow::before {
  border-bottom-color: #383E66 !important;
  border-top-color: #383E66 !important;
}

/* FAQ Section */
section.faq {
  padding-top: 100px;
  padding-bottom: 40px;
}

.faq h2 {
  margin-bottom: 40px;
}

.accordion .card-header:after {
  font-family: 'FontAwesome';
  content: "\f068";
  float: right;
  font-size: 24px;
}

.accordion .card-header.collapsed:after {
  /* symbol for "collapsed" panels */
  content: "\f067";
}

.faq__questions {
  border: none;
}

.faq__question {
  background: transparent;
  border-bottom: 1px solid #EBEBEF;
}

.faq__question a {
  font-size: 24px;
  line-height: 1.7;
}

.faq__answer {
  padding-left: 32px;
  padding-top: 14px;
  padding-bottom: 51px;
}

.faq__answer p {
  font-size: 18px;
}

/* CTA Section */
section.cta {
  text-align: center;
  background: #383E66;
  padding: 100px 0;
  margin-top: 60px;
}

.cta h2 {
  color: #fff;
  margin-bottom: 40px;
}

/* Footer */
footer {
  padding: 50px 0 100px 0;
}

.footer-address address, .footer-logo img {
  margin-bottom: 25px;
}

.footer-logo img {
  width: 100%;
  max-width: 100px;
}

.footer-address span {
  display: block;
  font-size: 12px;
  color: #6A6E8C;
  font-weight: 700;
}

.footer-address p {
  font-size: 12px;
  margin-bottom: 0;
}

.footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-menu__column {
  max-width: 20%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
}

.footer-menu__column h6 {
  font-size: 14px;
  margin-bottom: 12px;
}

/* Layout */
@media (min-width: 1200px) {
  .container {
    max-width: 1230px;
  }
}

/* MENU - Navbar */
nav {
  margin-bottom: 40px;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-brand {
  padding: 0;
}

.navbar-brand img {
  padding: 25px 0;
}

.navbar-nav li {
  padding: 8px;
}

.navbar-nav li > a.nav-link {
  color: #383E66 !important;
  padding: 15px 10px;
  font-size: 1rem;
  font-weight: 500;
}

/* Navbar dropdown hover */
.dropdown:hover > .dropdown-menu {
  display: block;
}

.dropdown > .dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}
/*# sourceMappingURL=style.css.map */